services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_server
    ports:
      - "6333:6333" 
      - "6334:6334" 
    volumes:
      - qdrant_data:/qdrant/storage:z 
    restart: always

volumes:
  qdrant_data: