services:
  app:
    build: .
    container_name: inteli-chat
    depends_on:
      - qdrant
    env_file:
      - .env
    ports:
      - 8000:8000

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_server
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage:z
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  qdrant_data: